<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.reelme.app">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE"/>
    <uses-permission android:name="android.permission.MICROPHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name= "com.google.android.gms.ads.APPLICATION_ID"
            android:value= "ca-app-pub-7218101052695054~8775403367"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name=".utils.OTP_Receiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.Main2Activity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentForgotPassword"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentSignin"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentWelcome"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentNewDiscusssion"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentNewChallenge"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentDemographics"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentDeleteAccount"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentTopusers"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentEditProfile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentVerifyMobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentBioMobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentImgSelction"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentUserName"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.GenderActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.RelationshipActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentUserProfile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.RelegionActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentOccupation"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ChildrenActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentReferralMobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentEmailAddress"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentUploadView"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentFullNameMobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentDate"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentHomePage"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentHobbies"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentSplash"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentFollow"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.FragmentGoal"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentEnterMobile"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentSettingsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.FragmentRefer"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".view.FragmentPrivacySetting"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.FragmentFeedBack"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.FragmentNotificationSetting"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
       <activity
            android:name=".view.FragmentPrivacy"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.FragmentReelDailyBonus"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.FragmentReelAdventures"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

<!--        <activity-->
<!--            android:name=".view.FragmentDailyBonusReels"-->
<!--            android:screenOrientation="sensorPortrait"-->
<!--            android:windowSoftInputMode="adjustPan" />-->




        <activity
            android:name=".view.RecordActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".deepar.ARBasicActivity"
            android:label="@string/title_activity_basic"></activity>

        <activity
            android:name=".trim.VideoTrimmerActivity"
            android:label="@string/title_activity_basic"></activity>



        <!--        <activity-->
<!--            android:name=".deepar.ARMainActivity"-->
<!--            android:screenOrientation="sensorPortrait"-->
<!--            android:windowSoftInputMode="adjustPan" />-->

        <activity
            android:name=".view.FragmentReelType1"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
                    android:name=".deepar.ARMainActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>